<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        {{!-- if user is authenticated, then display users --}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<h1 class='colorspiration-header'>
  <span class='header-color-c'>C</span>
  <span class='header-color-o'>o</span>
  <span class='header-color-l'>l</span>
  <span class='header-color-o-2'>o</span>
  <span class='header-color-r'>r</span>
  <span class='header-spiration-s'>s</span>
  <span class='header-spiration-p'>p</span>
  <span class='header-spiration-i'>i</span>
  <span class='header-spiration-r'>r</span>
  <span class='header-spiration-a'>a</span>
  <span class='header-spiration-t'>t</span>
  <span class='header-spiration-i-2'>i</span>
  <span class='header-spiration-o'>o</span>
  <span class='header-spiration-n'>n</span>
  <span class='header-spiration-period'>.</span>
</h1>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{#if isAuthenticated}}
<div class="button-group-view-create">
  {{!-- if user is authenticated, then display users --}}
  {{#link-to "palette-create"}}<button type="button" class="bttn-jelly bttn-md button-custom">Create New Palette</button>{{/link-to}}
  {{#link-to "palettes"}}<button type="button" class="bttn-jelly bttn-md button-custom">My Palettes</button>{{/link-to}}
  {{!-- {{color-palette submitPalette='submitPalette'}} --}}
</div>
{{/if}}

<div class="my-app-outlet">
  {{outlet}}
</div>
